
<body>

  <ul class="responsive-table" >
    <li class="table-header">
      <div class="col col-1">ID</div>
      <div class="col col-2">Nome</div>
      <div class="col col-2">Preço</div>
      <div class="col col-3">Editar</div>
      <div class="col col-4">Excluir</div>
    </li>
    <li class="table-row" *ngFor="let p of products">
      <div class="col col-1" data-label="Job Id">{{ p.id }}</div>
      <div class="col col-2" data-label="Customer Name">{{ p.nome }}</div>
      <div class="col col-2" data-label="Customer Name">{{ p.price }}</div>
      <div class="col col-3" data-label="Amount"><i class="ph-bold ph-pen edit" style="font-size: 1.5rem;"></i></div>
      <div class="col col-4" data-label="Payment Status"><i class="ph-bold ph-trash del" style="font-size: 1.5rem;" (click)="deleteProduct(p.id)"></i></div>
    </li>
  </ul>
</body>
